
body{
    background-image: linear-gradient(to bottom right, rgb(255, 27, 114), white, rgb(255, 27, 160));
    
}
.icon{
    width: 90%;
    height: auto;
    position: relative;
    margin: auto;
    right: 2px;
    padding: 10px;
}
ul{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    left: 2px;
    text-align: left;
}
li{
    left: 5px;

}
.container{
    margin: auto;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    

}
.column{
    width: 29%;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right bottom, white, rgb(255, 0, 119));
}
.card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    opacity: 1;
}